body {
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    width: 360px;
    background-color: cornflowerblue;
    text-align: center;
    padding: 8px;
}

.container {
    width: 100%;
    /* max-width: 960px; */
    margin: 0 auto;
}

.header {
    background-color: #f0e5cc;
    padding: 30px;
    display: flex;
    border: 1px solid#000;
}

.header h1 {
    margin: auto;
}

.logo {
    /* position: absolute;
    right: 370px; */
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    /* object-fit: contain; */
    margin: auto;
}

.sidebar {
    padding-inline-end: 40px;
    border-left: 1px solid #000;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul a {
    color: blue;
    text-decoration: none;
}

.sidebar ul a:hover {
    color: #000;
}

.sidebar ul li {
    padding: 10px;
}

.content {
    display: flex;
}

.form {
    width: 100%;
    padding: 20px;
    background-color: #c6f7df;
    border-right: 1px solid #000;
}

.footer {
    background-color: #f0e5cc;
    padding: 30px;
    text-align: center;
    border: 1px solid #000;
}